<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: rgb(10, 119, 94);
        }
    </style>
</head>
<body>
    <div class="container text-2xl">
        <h1 data-th-text=${name}>Welcome to home </h1>
        <p> youtube channel : <span data-th-text=${chanel}></span></p>
        <p> github details : <span th:text=${github}></span></p>
        <a data-th-href="${github}"> click me </a>
        <P>
            jwdywdi  ehvfyurgf fhfoh
        </P>
    </div>
</body>
</html>